In [129]:
import pyodbc
import time
import numpy as pd
import pandas as pd
from datetime import date, time
import requests
import json
from pandas.io.json import json_normalize
from time import time

In [130]:
url = 'https://services1.arcgis.com/CY1LXxl9zlJeBuRZ/arcgis/rest/services/Florida_COVID19_Case_Line_Data_2021/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json'

In [133]:
r = requests.get(url)
r.json()

rigin': 'NA',
    'EDvisit': 'NO',
    'Hospitaliz': 'NO',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'NO',
    'Case1': 1610514000000,
    'EventDate': 1609718400000,
    'ChartDate': 1610514000000,
    'ObjectId': 952}},
  {'attributes': {'County': 'Escambia',
    'Age': '89',
    'Age_group': '85+ years',
    'Gender': 'Female',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'No',
    'Origin': 'NA',
    'EDvisit': 'UNKNOWN',
    'Hospitaliz': 'UNKNOWN',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'UNKNOWN',
    'Case1': 1612242000000,
    'EventDate': 1612224000000,
    'ChartDate': 1612242000000,
    'ObjectId': 953}},
  {'attributes': {'County': 'Duval',
    'Age': '20',
    'Age_group': '15-24 years',
    'Gender': 'Female',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'Unknown',
    'Origin': 'NA',
    'EDvisit': 'UNKNOWN',
    'Hospitaliz': 'UNKNOWN',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'NA',
    'Case1': 1612587600000,
    'EventDate': 1612569600000,
    'ChartDate': 1612587600000,
    'ObjectId': 954}},
  {'attributes': {'County': 'Leon',
    'Age': '25',
    'Age_group': '25-34 years',
    'Gender': 'Male',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'Unknown',
    'Origin': 'NA',
    'EDvisit': 'UNKNOWN',
    'Hospitaliz': 'UNKNOWN',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'YES',
    'Case1': 1612242000000,
    'EventDate': 1612224000000,
    'ChartDate': 1612242000000,
    'ObjectId': 955}},
  {'attributes': {'County': 'Manatee',
    'Age': '47',
    'Age_group': '45-54 years',
    'Gender': 'Female',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'No',
    'Origin': 'NA',
    'EDvisit': 'NO',
    'Hospitaliz': 'NO',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'Yes',
    'Case1': 1612587600000,
    'EventDate': 1612569600000,
    'ChartDate': 1612587600000,
    'ObjectId': 956}},
  {'attributes': {'County': 'Dade',
    'Age': '65',
    'Age_group': '65-74 years',
    'Gender': 'Male',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'No',
    'Origin': 'NA',
    'EDvisit': 'NO',
    'Hospitaliz': 'NO',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'YES',
    'Case1': 1612242000000,
    'EventDate': 1612224000000,
    'ChartDate': 1612242000000,
    'ObjectId': 957}},
  {'attributes': {'County': 'Manatee',
    'Age': '42',
    'Age_group': '35-44 years',
    'Gender': 'Female',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'No',
    'Origin': 'NA',
    'EDvisit': 'NO',
    'Hospitaliz': 'NO',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'NO',
    'Case1': 1612587600000,
    'EventDate': 1612396800000,
    'ChartDate': 1612587600000,
    'ObjectId': 958}},
  {'attributes': {'County': 'Alachua',
    'Age': '61',
    'Age_group': '55-64 years',
    'Gender': 'Male',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'No',
    'Origin': 'NA',
    'EDvisit': 'YES',
    'Hospitaliz': 'NO',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'NO',
    'Case1': 1612674000000,
    'EventDate': 1612569600000,
    'ChartDate': 1612674000000,
    'ObjectId': 959}},
  {'attributes': {'County': 'Hernando',
    'Age': '1',
    'Age_group': '0-4 years',
    'Gender': 'Female',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'No',
    'Origin': 'NA',
    'EDvisit': 'UNKNOWN',
    'Hospitaliz': 'NO',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'UNKNOWN',
    'Case1': 1612587600000,
    'EventDate': 1612650250000,
    'ChartDate': 1612587600000,
    'ObjectId': 960}},
  {'attributes': {'County': 'Polk',
    'Age': '70',
    'Age_group': '65-74 years',
    'Gender': 'Female',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'No',
    'Origin': 'NA',
    'EDvisit': 'YES',
    'Hospitaliz': 'YES',
    'Died': 'Yes',
    'Case_': 'Yes',
    'Contact': 'UNKNOWN',
    'Case1': 1612674000000,
    'EventDate': 1612656000000,
    'ChartDate': 1612674000000,
    'ObjectId': 961}},
  {'attributes': {'County': 'Dade',
    'Age': '45',
    'Age_group': '45-54 years',
    'Gender': 'Female',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'Unknown',
    'Origin': 'NA',
    'EDvisit': 'NO',
    'Hospitaliz': 'NO',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'Yes',
    'Case1': 1612414800000,
    'EventDate': 1612483200000,
    'ChartDate': 1612414800000,
    'ObjectId': 962}},
  {'attributes': {'County': 'Manatee',
    'Age': '31',
    'Age_group': '25-34 years',
    'Gender': 'Male',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'No',
    'Origin': 'NA',
    'EDvisit': 'NO',
    'Hospitaliz': 'NO',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'NO',
    'Case1': 1612587600000,
    'EventDate': 1612569600000,
    'ChartDate': 1612587600000,
    'ObjectId': 963}},
  {'attributes': {'County': 'Walton',
    'Age': '44',
    'Age_group': '35-44 years',
    'Gender': 'Unknown',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'No',
    'Origin': 'NA',
    'EDvisit': 'NO',
    'Hospitaliz': 'NO',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'UNKNOWN',
    'Case1': 1612674000000,
    'EventDate': 1612483200000,
    'ChartDate': 1612674000000,
    'ObjectId': 964}},
  {'attributes': {'County': 'Dade',
    'Age': '14',
    'Age_group': '5-14 years',
    'Gender': 'Female',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'No',
    'Origin': 'NA',
    'EDvisit': 'NO',
    'Hospitaliz': 'NO',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'Yes',
    'Case1': 1612501200000,
    'EventDate': 1611100800000,
    'ChartDate': 1612501200000,
    'ObjectId': 965}},
  {'attributes': {'County': 'Manatee',
    'Age': '9',
    'Age_group': '5-14 years',
    'Gender': 'Female',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'No',
    'Origin': 'NA',
    'EDvisit': 'NO',
    'Hospitaliz': 'NO',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'Yes',
    'Case1': 1612587600000,
    'EventDate': 1612569600000,
    'ChartDate': 1612587600000,
    'ObjectId': 966}},
  {'attributes': {'County': 'Bay',
    'Age': '57',
    'Age_group': '55-64 years',
    'Gender': 'Female',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'No',
    'Origin': 'NA',
    'EDvisit': 'NO',
    'Hospitaliz': 'NO',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'Yes',
    'Case1': 1612674000000,
    'EventDate': 1612483200000,
    'ChartDate': 1612674000000,
    'ObjectId': 967}},
  {'attributes': {'County': 'Dade',
    'Age': '33',
    'Age_group': '25-34 years',
    'Gender': 'Male',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'Unknown',
    'Origin': 'NA',
    'EDvisit': 'NO',
    'Hospitaliz': 'NO',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'NO',
    'Case1': 1612501200000,
    'EventDate': 1611532800000,
    'ChartDate': 1612501200000,
    'ObjectId': 968}},
  {'attributes': {'County': 'Manatee',
    'Age': '7',
    'Age_group': '5-14 years',
    'Gender': 'Male',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'No',
    'Origin': 'NA',
    'EDvisit': 'NO',
    'Hospitaliz': 'NO',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'Yes',
    'Case1': 1612587600000,
    'EventDate': 1612310400000,
    'ChartDate': 1612587600000,
    'ObjectId': 969}},
  {'attributes': {'County': 'Lee',
    'Age': '46',
    'Age_group': '45-54 years',
    'Gender': 'Male',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'Unknown',
    'Origin': 'NA',
    'EDvisit': 'UNKNOWN',
    'Hospitaliz': 'UNKNOWN',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'Yes',
    'Case1': 1611291600000,
    'EventDate': 1611273600000,
    'ChartDate': 1611291600000,
    'ObjectId': 970}},
  {'attributes': {'County': 'Dade',
    'Age': '17',
    'Age_group': '15-24 years',
    'Gender': 'Male',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'No',
    'Origin': 'NA',
    'EDvisit': 'NO',
    'Hospitaliz': 'NO',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'NO',
    'Case1': 1612501200000,
    'EventDate': 1612483200000,
    'ChartDate': 1612501200000,
    'ObjectId': 971}},
  {'attributes': {'County': 'Manatee',
    'Age': '13',
    'Age_group': '5-14 years',
    'Gender': 'Female',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'No',
    'Origin': 'NA',
    'EDvisit': 'NO',
    'Hospitaliz': 'NO',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'Yes',
    'Case1': 1612587600000,
    'EventDate': 1612569600000,
    'ChartDate': 1612587600000,
    'ObjectId': 972}},
  {'attributes': {'County': 'Lee',
    'Age': '51',
    'Age_group': '45-54 years',
    'Gender': 'Female',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'Unknown',
    'Origin': 'NA',
    'EDvisit': 'UNKNOWN',
    'Hospitaliz': 'UNKNOWN',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'NA',
    'Case1': 1611291600000,
    'EventDate': 1611273600000,
    'ChartDate': 1611291600000,
    'ObjectId': 973}},
  {'attributes': {'County': 'Dade',
    'Age': '37',
    'Age_group': '35-44 years',
    'Gender': 'Female',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'Unknown',
    'Origin': 'NA',
    'EDvisit': 'NO',
    'Hospitaliz': 'NO',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'NO',
    'Case1': 1612501200000,
    'EventDate': 1612483200000,
    'ChartDate': 1612501200000,
    'ObjectId': 974}},
  {'attributes': {'County': 'Broward',
    'Age': '28',
    'Age_group': '25-34 years',
    'Gender': 'Female',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'No',
    'Origin': 'NA',
    'EDvisit': 'NO',
    'Hospitaliz': 'NO',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'NO',
    'Case1': 1612587600000,
    'EventDate': 1612569600000,
    'ChartDate': 1612587600000,
    'ObjectId': 975}},
  {'attributes': {'County': 'Lee',
    'Age': '27',
    'Age_group': '25-34 years',
    'Gender': 'Male',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'Unknown',
    'Origin': 'NA',
    'EDvisit': 'UNKNOWN',
    'Hospitaliz': 'UNKNOWN',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'NA',
    'Case1': 1611291600000,
    'EventDate': 1611273600000,
    'ChartDate': 1611291600000,
    'ObjectId': 976}},
  {'attributes': {'County': 'Broward',
    'Age': '51',
    'Age_group': '45-54 years',
    'Gender': 'Female',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'No',
    'Origin': 'NA',
    'EDvisit': 'NO',
    'Hospitaliz': 'NO',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'Yes',
    'Case1': 1612501200000,
    'EventDate': 1611619200000,
    'ChartDate': 1612501200000,
    'ObjectId': 977}},
  {'attributes': {'County': 'Broward',
    'Age': '22',
    'Age_group': '15-24 years',
    'Gender': 'Male',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'Unknown',
    'Origin': 'NA',
    'EDvisit': 'UNKNOWN',
    'Hospitaliz': 'UNKNOWN',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'UNKNOWN',
    'Case1': 1612587600000,
    'EventDate': 1612569600000,
    'ChartDate': 1612587600000,
    'ObjectId': 978}},
  {'attributes': {'County': 'Escambia',
    'Age': '79',
    'Age_group': '75-84 years',
    'Gender': 'Female',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'No',
    'Origin': 'NA',
    'EDvisit': 'NO',
    'Hospitaliz': 'NO',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'YES',
    'Case1': 1611291600000,
    'EventDate': 1611014400000,
    'ChartDate': 1611291600000,
    'ObjectId': 979}},
  {'attributes': {'County': 'Orange',
    'Age': '51',
    'Age_group': '45-54 years',
    'Gender': 'Male',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'No',
    'Origin': 'NA',
    'EDvisit': 'NO',
    'Hospitaliz': 'NO',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'Yes',
    'Case1': 1612501200000,
    'EventDate': 1611964800000,
    'ChartDate': 1612501200000,
    'ObjectId': 980}},
  {'attributes': {'County': 'Dade',
    'Age': '47',
    'Age_group': '45-54 years',
    'Gender': 'Male',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'No',
    'Origin': 'NA',
    'EDvisit': 'UNKNOWN',
    'Hospitaliz': 'UNKNOWN',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'UNKNOWN',
    'Case1': 1612587600000,
    'EventDate': 1612569600000,
    'ChartDate': 1612587600000,
    'ObjectId': 981}},
  {'attributes': {'County': 'Hillsborough',
    'Age': '17',
    'Age_group': '15-24 years',
    'Gender': 'Female',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'Unknown',
    'Origin': 'NA',
    'EDvisit': None,
    'Hospitaliz': 'UNKNOWN',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'Yes',
    'Case1': 1613710800000,
    'EventDate': 1613769217000,
    'ChartDate': 1613710800000,
    'ObjectId': 982}},
  {'attributes': {'County': 'Escambia',
    'Age': '25',
    'Age_group': '25-34 years',
    'Gender': 'Female',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'Unknown',
    'Origin': 'NA',
    'EDvisit': 'UNKNOWN',
    'Hospitaliz': 'UNKNOWN',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'UNKNOWN',
    'Case1': 1612501200000,
    'EventDate': 1612483200000,
    'ChartDate': 1612501200000,
    'ObjectId': 983}},
  {'attributes': {'County': 'Broward',
    'Age': '64',
    'Age_group': '55-64 years',
    'Gender': 'Male',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'Unknown',
    'Origin': 'NA',
    'EDvisit': 'UNKNOWN',
    'Hospitaliz': 'UNKNOWN',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'UNKNOWN',
    'Case1': 1612587600000,
    'EventDate': 1612569600000,
    'ChartDate': 1612587600000,
    'ObjectId': 984}},
  {'attributes': {'County': 'Dade',
    'Age': '40',
    'Age_group': '35-44 years',
    'Gender': 'Female',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'Unknown',
    'Origin': 'NA',
    'EDvisit': 'UNKNOWN',
    'Hospitaliz': 'UNKNOWN',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'NA',
    'Case1': 1612501200000,
    'EventDate': 1612483200000,
    'ChartDate': 1612501200000,
    'ObjectId': 985}},
  {'attributes': {'County': 'Orange',
    'Age': '25',
    'Age_group': '25-34 years',
    'Gender': 'Female',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'No',
    'Origin': 'NA',
    'EDvisit': 'NO',
    'Hospitaliz': 'NO',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'Yes',
    'Case1': 1612501200000,
    'EventDate': 1612137600000,
    'ChartDate': 1612501200000,
    'ObjectId': 986}},
  {'attributes': {'County': 'Broward',
    'Age': '50',
    'Age_group': '45-54 years',
    'Gender': 'Male',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'No',
    'Origin': 'NA',
    'EDvisit': 'NO',
    'Hospitaliz': 'NO',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'Yes',
    'Case1': 1612587600000,
    'EventDate': 1612483200000,
    'ChartDate': 1612587600000,
    'ObjectId': 987}},
  {'attributes': {'County': 'Duval',
    'Age': '50',
    'Age_group': '45-54 years',
    'Gender': 'Female',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'Unknown',
    'Origin': 'NA',
    'EDvisit': 'UNKNOWN',
    'Hospitaliz': 'UNKNOWN',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'NA',
    'Case1': 1612501200000,
    'EventDate': 1612483200000,
    'ChartDate': 1612501200000,
    'ObjectId': 988}},
  {'attributes': {'County': 'Orange',
    'Age': '0',
    'Age_group': '0-4 years',
    'Gender': 'Male',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'No',
    'Origin': 'NA',
    'EDvisit': 'NO',
    'Hospitaliz': 'NO',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'Yes',
    'Case1': 1612501200000,
    'EventDate': 1612137600000,
    'ChartDate': 1612501200000,
    'ObjectId': 989}},
  {'attributes': {'County': 'Orange',
    'Age': '15',
    'Age_group': '15-24 years',
    'Gender': 'Female',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'No',
    'Origin': 'NA',
    'EDvisit': 'NO',
    'Hospitaliz': 'NO',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'YES',
    'Case1': 1612501200000,
    'EventDate': 1612310400000,
    'ChartDate': 1612501200000,
    'ObjectId': 990}},
  {'attributes': {'County': 'Broward',
    'Age': '23',
    'Age_group': '15-24 years',
    'Gender': 'Female',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'No',
    'Origin': 'NA',
    'EDvisit': 'NO',
    'Hospitaliz': 'NO',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'NO',
    'Case1': 1612587600000,
    'EventDate': 1612224000000,
    'ChartDate': 1612587600000,
    'ObjectId': 991}},
  {'attributes': {'County': 'Clay',
    'Age': '0',
    'Age_group': '0-4 years',
    'Gender': 'Male',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'No',
    'Origin': 'NA',
    'EDvisit': 'NO',
    'Hospitaliz': 'NO',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'Yes',
    'Case1': 1612501200000,
    'EventDate': 1612483200000,
    'ChartDate': 1612501200000,
    'ObjectId': 992}},
  {'attributes': {'County': 'Dade',
    'Age': '59',
    'Age_group': '55-64 years',
    'Gender': 'Female',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'Unknown',
    'Origin': 'NA',
    'EDvisit': 'NO',
    'Hospitaliz': 'NO',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'YES',
    'Case1': 1612501200000,
    'EventDate': 1612310400000,
    'ChartDate': 1612501200000,
    'ObjectId': 993}},
  {'attributes': {'County': 'Broward',
    'Age': '50',
    'Age_group': '45-54 years',
    'Gender': 'Female',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'No',
    'Origin': 'NA',
    'EDvisit': 'NO',
    'Hospitaliz': 'NO',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'NO',
    'Case1': 1612587600000,
    'EventDate': 1612569600000,
    'ChartDate': 1612587600000,
    'ObjectId': 994}},
  {'attributes': {'County': 'Flagler',
    'Age': '61',
    'Age_group': '55-64 years',
    'Gender': 'Male',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'No',
    'Origin': 'NA',
    'EDvisit': 'NO',
    'Hospitaliz': 'NO',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'UNKNOWN',
    'Case1': 1612587600000,
    'EventDate': 1612051200000,
    'ChartDate': 1612587600000,
    'ObjectId': 995}},
  {'attributes': {'County': 'Leon',
    'Age': '38',
    'Age_group': '35-44 years',
    'Gender': 'Male',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'No',
    'Origin': 'NA',
    'EDvisit': 'NO',
    'Hospitaliz': 'NO',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'NO',
    'Case1': 1612501200000,
    'EventDate': 1612137600000,
    'ChartDate': 1612501200000,
    'ObjectId': 996}},
  {'attributes': {'County': 'Broward',
    'Age': '37',
    'Age_group': '35-44 years',
    'Gender': 'Male',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'No',
    'Origin': 'NA',
    'EDvisit': 'NO',
    'Hospitaliz': 'NO',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'YES',
    'Case1': 1612587600000,
    'EventDate': 1612310400000,
    'ChartDate': 1612587600000,
    'ObjectId': 997}},
  {'attributes': {'County': 'Seminole',
    'Age': '24',
    'Age_group': '15-24 years',
    'Gender': 'Male',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'Unknown',
    'Origin': 'NA',
    'EDvisit': 'UNKNOWN',
    'Hospitaliz': 'UNKNOWN',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'NA',
    'Case1': 1612587600000,
    'EventDate': 1612569600000,
    'ChartDate': 1612587600000,
    'ObjectId': 998}},
  {'attributes': {'County': 'Polk',
    'Age': '15',
    'Age_group': '15-24 years',
    'Gender': 'Male',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'No',
    'Origin': 'NA',
    'EDvisit': 'NO',
    'Hospitaliz': 'NO',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'Yes',
    'Case1': 1612501200000,
    'EventDate': 1612310400000,
    'ChartDate': 1612501200000,
    'ObjectId': 999}},
  {'attributes': {'County': 'Broward',
    'Age': '76',
    'Age_group': '75-84 years',
    'Gender': 'Male',
    'Jurisdicti': 'FL resident',
    'Travel_rel': 'No',
    'Origin': 'NA',
    'EDvisit': 'NO',
    'Hospitaliz': 'NO',
    'Died': 'NA',
    'Case_': 'Yes',
    'Contact': 'Yes',
    'Case1': 1612587600000,
    'EventDate': 1612137600000,
    'ChartDate': 1612587600000,
    'ObjectId': 1000}},
  ...]}

In [134]:
r.json().keys()

dict_keys(['objectIdFieldName', 'uniqueIdField', 'globalIdFieldName', 'fields', 'exceededTransferLimit', 'features'])

In [148]:
#New exploring data
r.json()['features'][0]
feat = r.json()

In [149]:
#New exploring attributes within features
for eachrow in feat['features']:
    print (eachrow['attributes'])

 'EDvisit': None, 'Hospitaliz': 'UNKNOWN', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'NA', 'Case1': 1611118800000, 'EventDate': 1610841600000, 'ChartDate': 1611118800000, 'ObjectId': 1941}
{'County': 'Palm Beach', 'Age': '56', 'Age_group': '55-64 years', 'Gender': 'Male', 'Jurisdicti': 'FL resident', 'Travel_rel': 'No', 'Origin': 'NA', 'EDvisit': 'NO', 'Hospitaliz': 'NO', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'NO', 'Case1': 1616648400000, 'EventDate': 1616689160000, 'ChartDate': 1616648400000, 'ObjectId': 1942}
{'County': 'Volusia', 'Age': '67', 'Age_group': '65-74 years', 'Gender': 'Female', 'Jurisdicti': 'FL resident', 'Travel_rel': 'No', 'Origin': 'NA', 'EDvisit': 'NO', 'Hospitaliz': 'NO', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'Yes', 'Case1': 1616648400000, 'EventDate': 1616112000000, 'ChartDate': 1616648400000, 'ObjectId': 1943}
{'County': 'Dade', 'Age': '17', 'Age_group': '15-24 years', 'Gender': 'Male', 'Jurisdicti': 'FL resident', 'Travel_rel': 'No', 'Origin': 'NA', 'EDvisit': 'NO', 'Hospitaliz': 'NO', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'Yes', 'Case1': 1617512400000, 'EventDate': 1616630400000, 'ChartDate': 1617512400000, 'ObjectId': 1944}
{'County': 'Broward', 'Age': '24', 'Age_group': '15-24 years', 'Gender': 'Male', 'Jurisdicti': 'FL resident', 'Travel_rel': 'Unknown', 'Origin': 'NA', 'EDvisit': 'UNKNOWN', 'Hospitaliz': 'UNKNOWN', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'UNKNOWN', 'Case1': 1616648400000, 'EventDate': 1616630400000, 'ChartDate': 1616648400000, 'ObjectId': 1945}
{'County': 'Seminole', 'Age': '60', 'Age_group': '55-64 years', 'Gender': 'Female', 'Jurisdicti': 'FL resident', 'Travel_rel': 'Unknown', 'Origin': 'NA', 'EDvisit': 'UNKNOWN', 'Hospitaliz': 'UNKNOWN', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'NA', 'Case1': 1616648400000, 'EventDate': 1616691049000, 'ChartDate': 1616648400000, 'ObjectId': 1946}
{'County': 'Pinellas', 'Age': '90', 'Age_group': '85+ years', 'Gender': 'Male', 'Jurisdicti': 'FL resident', 'Travel_rel': 'No', 'Origin': 'NA', 'EDvisit': 'YES', 'Hospitaliz': 'YES', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'NO', 'Case1': 1616648400000, 'EventDate': 1616691471000, 'ChartDate': 1616648400000, 'ObjectId': 1947}
{'County': 'Seminole', 'Age': '10', 'Age_group': '5-14 years', 'Gender': 'Male', 'Jurisdicti': 'FL resident', 'Travel_rel': 'No', 'Origin': 'NA', 'EDvisit': 'NO', 'Hospitaliz': 'NO', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'Yes', 'Case1': 1616648400000, 'EventDate': 1616371200000, 'ChartDate': 1616648400000, 'ObjectId': 1948}
{'County': 'Broward', 'Age': '53', 'Age_group': '45-54 years', 'Gender': 'Female', 'Jurisdicti': 'FL resident', 'Travel_rel': 'No', 'Origin': 'NA', 'EDvisit': 'NO', 'Hospitaliz': 'NO', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'NO', 'Case1': 1616648400000, 'EventDate': 1616544000000, 'ChartDate': 1616648400000, 'ObjectId': 1949}
{'County': 'Dade', 'Age': '4', 'Age_group': '0-4 years', 'Gender': 'Male', 'Jurisdicti': 'FL resident', 'Travel_rel': 'No', 'Origin': 'NA', 'EDvisit': 'NO', 'Hospitaliz': 'NO', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'Yes', 'Case1': 1616648400000, 'EventDate': 1616284800000, 'ChartDate': 1616648400000, 'ObjectId': 1950}
{'County': 'Dade', 'Age': '16', 'Age_group': '15-24 years', 'Gender': 'Female', 'Jurisdicti': 'FL resident', 'Travel_rel': 'No', 'Origin': 'NA', 'EDvisit': 'NO', 'Hospitaliz': 'NO', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'NO', 'Case1': 1616648400000, 'EventDate': 1616371200000, 'ChartDate': 1616648400000, 'ObjectId': 1951}
{'County': 'Dade', 'Age': '33', 'Age_group': '25-34 years', 'Gender': 'Male', 'Jurisdicti': 'FL resident', 'Travel_rel': 'Unknown', 'Origin': 'NA', 'EDvisit': 'UNKNOWN', 'Hospitaliz': 'UNKNOWN', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'NO', 'Case1': 1616648400000, 'EventDate': 1616692343000, 'ChartDate': 1616648400000, 'ObjectId': 1952}
{'County': 'Okaloosa', 'Age': '71', 'Age_group': '65-74 years', 'Gender': 'Male', 'Jurisdicti': 'FL resident', 'Travel_rel': 'Unknown', 'Origin': 'NA', 'EDvisit': 'UNKNOWN', 'Hospitaliz': 'UNKNOWN', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'UNKNOWN', 'Case1': 1610082000000, 'EventDate': 1610064000000, 'ChartDate': 1610082000000, 'ObjectId': 1953}
{'County': 'Escambia', 'Age': '91', 'Age_group': '85+ years', 'Gender': 'Female', 'Jurisdicti': 'Non-FL resident', 'Travel_rel': 'Unknown', 'Origin': 'NA', 'EDvisit': 'UNKNOWN', 'Hospitaliz': 'UNKNOWN', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'UNKNOWN', 'Case1': 1610082000000, 'EventDate': 1610090061000, 'ChartDate': 1610082000000, 'ObjectId': 1954}
{'County': 'Collier', 'Age': '60', 'Age_group': '55-64 years', 'Gender': 'Female', 'Jurisdicti': 'Non-FL resident', 'Travel_rel': 'Unknown', 'Origin': 'NA', 'EDvisit': 'UNKNOWN', 'Hospitaliz': 'UNKNOWN', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'UNKNOWN', 'Case1': 1610082000000, 'EventDate': 1610090123000, 'ChartDate': 1610082000000, 'ObjectId': 1955}
{'County': 'Volusia', 'Age': '27', 'Age_group': '25-34 years', 'Gender': 'Male', 'Jurisdicti': 'FL resident', 'Travel_rel': 'Unknown', 'Origin': 'NA', 'EDvisit': None, 'Hospitaliz': 'UNKNOWN', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'NA', 'Case1': 1610082000000, 'EventDate': 1609977600000, 'ChartDate': 1610082000000, 'ObjectId': 1956}
{'County': 'Osceola', 'Age': '17', 'Age_group': '15-24 years', 'Gender': 'Female', 'Jurisdicti': 'FL resident', 'Travel_rel': 'No', 'Origin': 'NA', 'EDvisit': 'NO', 'Hospitaliz': 'NO', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'NO', 'Case1': 1610082000000, 'EventDate': 1609459200000, 'ChartDate': 1610082000000, 'ObjectId': 1957}
{'County': 'Seminole', 'Age': '16', 'Age_group': '15-24 years', 'Gender': 'Female', 'Jurisdicti': 'FL resident', 'Travel_rel': 'No', 'Origin': 'NA', 'EDvisit': 'NO', 'Hospitaliz': 'NO', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'Yes', 'Case1': 1615870800000, 'EventDate': 1615680000000, 'ChartDate': 1615870800000, 'ObjectId': 1958}
{'County': 'Citrus', 'Age': '75', 'Age_group': '75-84 years', 'Gender': 'Female', 'Jurisdicti': 'FL resident', 'Travel_rel': 'No', 'Origin': 'NA', 'EDvisit': 'UNKNOWN', 'Hospitaliz': 'UNKNOWN', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'NO', 'Case1': 1615870800000, 'EventDate': 1615593600000, 'ChartDate': 1615870800000, 'ObjectId': 1959}
{'County': 'Brevard', 'Age': '53', 'Age_group': '45-54 years', 'Gender': 'Male', 'Jurisdicti': 'FL resident', 'Travel_rel': 'No', 'Origin': 'NA', 'EDvisit': 'NO', 'Hospitaliz': 'NO', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'UNKNOWN', 'Case1': 1615870800000, 'EventDate': 1615680000000, 'ChartDate': 1615870800000, 'ObjectId': 1960}
{'County': 'Brevard', 'Age': '60', 'Age_group': '55-64 years', 'Gender': 'Female', 'Jurisdicti': 'FL resident', 'Travel_rel': 'No', 'Origin': 'NA', 'EDvisit': 'NO', 'Hospitaliz': 'NO', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'UNKNOWN', 'Case1': 1615870800000, 'EventDate': 1615334400000, 'ChartDate': 1615870800000, 'ObjectId': 1961}
{'County': 'Brevard', 'Age': '36', 'Age_group': '35-44 years', 'Gender': 'Male', 'Jurisdicti': 'FL resident', 'Travel_rel': 'No', 'Origin': 'NA', 'EDvisit': 'UNKNOWN', 'Hospitaliz': 'UNKNOWN', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'UNKNOWN', 'Case1': 1615870800000, 'EventDate': 1615886450000, 'ChartDate': 1615870800000, 'ObjectId': 1962}
{'County': 'Clay', 'Age': '17', 'Age_group': '15-24 years', 'Gender': 'Male', 'Jurisdicti': 'FL resident', 'Travel_rel': 'No', 'Origin': 'NA', 'EDvisit': 'NO', 'Hospitaliz': 'NO', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'Yes', 'Case1': 1615870800000, 'EventDate': 1615507200000, 'ChartDate': 1615870800000, 'ObjectId': 1963}
{'County': 'Clay', 'Age': '33', 'Age_group': '25-34 years', 'Gender': 'Female', 'Jurisdicti': 'FL resident', 'Travel_rel': 'No', 'Origin': 'NA', 'EDvisit': 'NO', 'Hospitaliz': 'NO', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'NO', 'Case1': 1615870800000, 'EventDate': 1615766400000, 'ChartDate': 1615870800000, 'ObjectId': 1964}
{'County': 'Gadsden', 'Age': '50', 'Age_group': '45-54 years', 'Gender': 'Female', 'Jurisdicti': 'FL resident', 'Travel_rel': 'No', 'Origin': 'NA', 'EDvisit': 'UNKNOWN', 'Hospitaliz': 'UNKNOWN', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'UNKNOWN', 'Case1': 1611810000000, 'EventDate': 1611792000000, 'ChartDate': 1611810000000, 'ObjectId': 1965}
{'County': 'Alachua', 'Age': '44', 'Age_group': '35-44 years', 'Gender': 'Male', 'Jurisdicti': 'FL resident', 'Travel_rel': 'No', 'Origin': 'NA', 'EDvisit': 'YES', 'Hospitaliz': 'NO', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'NO', 'Case1': 1611205200000, 'EventDate': 1611187200000, 'ChartDate': 1611205200000, 'ObjectId': 1966}
{'County': 'Broward', 'Age': '60', 'Age_group': '55-64 years', 'Gender': 'Male', 'Jurisdicti': 'FL resident', 'Travel_rel': 'No', 'Origin': 'NA', 'EDvisit': 'NO', 'Hospitaliz': 'NO', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'Yes', 'Case1': 1611205200000, 'EventDate': 1610841600000, 'ChartDate': 1611205200000, 'ObjectId': 1967}
{'County': 'Dade', 'Age': '48', 'Age_group': '45-54 years', 'Gender': 'Male', 'Jurisdicti': 'FL resident', 'Travel_rel': 'Unknown', 'Origin': 'NA', 'EDvisit': 'UNKNOWN', 'Hospitaliz': 'UNKNOWN', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'NA', 'Case1': 1611205200000, 'EventDate': 1611187200000, 'ChartDate': 1611205200000, 'ObjectId': 1968}
{'County': 'Volusia', 'Age': '23', 'Age_group': '15-24 years', 'Gender': 'Male', 'Jurisdicti': 'FL resident', 'Travel_rel': 'Unknown', 'Origin': 'NA', 'EDvisit': 'UNKNOWN', 'Hospitaliz': 'UNKNOWN', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'NA', 'Case1': 1611205200000, 'EventDate': 1611187200000, 'ChartDate': 1611205200000, 'ObjectId': 1969}
{'County': 'Hillsborough', 'Age': '68', 'Age_group': '65-74 years', 'Gender': 'Female', 'Jurisdicti': 'FL resident', 'Travel_rel': 'No', 'Origin': 'NA', 'EDvisit': 'YES', 'Hospitaliz': 'YES', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'Yes', 'Case1': 1611205200000, 'EventDate': 1610668800000, 'ChartDate': 1611205200000, 'ObjectId': 1970}
{'County': 'Polk', 'Age': '25', 'Age_group': '25-34 years', 'Gender': 'Male', 'Jurisdicti': 'FL resident', 'Travel_rel': 'No', 'Origin': 'NA', 'EDvisit': 'NO', 'Hospitaliz': 'NO', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'Yes', 'Case1': 1611205200000, 'EventDate': 1610150400000, 'ChartDate': 1611205200000, 'ObjectId': 1971}
{'County': 'Dade', 'Age': '0', 'Age_group': '0-4 years', 'Gender': 'Female', 'Jurisdicti': 'FL resident', 'Travel_rel': 'Unknown', 'Origin': 'NA', 'EDvisit': 'UNKNOWN', 'Hospitaliz': 'UNKNOWN', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'YES', 'Case1': 1611205200000, 'EventDate': 1611187200000, 'ChartDate': 1611205200000, 'ObjectId': 1972}
{'County': 'Volusia', 'Age': '54', 'Age_group': '45-54 years', 'Gender': 'Male', 'Jurisdicti': 'FL resident', 'Travel_rel': 'Unknown', 'Origin': 'NA', 'EDvisit': 'UNKNOWN', 'Hospitaliz': 'UNKNOWN', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'NA', 'Case1': 1611205200000, 'EventDate': 1611187200000, 'ChartDate': 1611205200000, 'ObjectId': 1973}
{'County': 'Polk', 'Age': '14', 'Age_group': '5-14 years', 'Gender': 'Male', 'Jurisdicti': 'FL resident', 'Travel_rel': 'No', 'Origin': 'NA', 'EDvisit': 'NO', 'Hospitaliz': 'NO', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'Yes', 'Case1': 1611205200000, 'EventDate': 1610841600000, 'ChartDate': 1611205200000, 'ObjectId': 1974}
{'County': 'Pinellas', 'Age': '50', 'Age_group': '45-54 years', 'Gender': 'Male', 'Jurisdicti': 'FL resident', 'Travel_rel': 'No', 'Origin': 'NA', 'EDvisit': 'NO', 'Hospitaliz': 'NO', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'NO', 'Case1': 1611205200000, 'EventDate': 1611187200000, 'ChartDate': 1611205200000, 'ObjectId': 1975}
{'County': 'Hillsborough', 'Age': '42', 'Age_group': '35-44 years', 'Gender': 'Male', 'Jurisdicti': 'FL resident', 'Travel_rel': 'Unknown', 'Origin': 'NA', 'EDvisit': 'UNKNOWN', 'Hospitaliz': 'UNKNOWN', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'NA', 'Case1': 1611205200000, 'EventDate': 1611187200000, 'ChartDate': 1611205200000, 'ObjectId': 1976}
{'County': 'Osceola', 'Age': '33', 'Age_group': '25-34 years', 'Gender': 'Male', 'Jurisdicti': 'FL resident', 'Travel_rel': 'Unknown', 'Origin': 'NA', 'EDvisit': 'UNKNOWN', 'Hospitaliz': 'UNKNOWN', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'NA', 'Case1': 1611205200000, 'EventDate': 1611187200000, 'ChartDate': 1611205200000, 'ObjectId': 1977}
{'County': 'Leon', 'Age': '19', 'Age_group': '15-24 years', 'Gender': 'Female', 'Jurisdicti': 'FL resident', 'Travel_rel': 'No', 'Origin': 'NA', 'EDvisit': 'NO', 'Hospitaliz': 'NO', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'NO', 'Case1': 1611205200000, 'EventDate': 1611187200000, 'ChartDate': 1611205200000, 'ObjectId': 1978}
{'County': 'Hillsborough', 'Age': '62', 'Age_group': '55-64 years', 'Gender': 'Male', 'Jurisdicti': 'FL resident', 'Travel_rel': 'Unknown', 'Origin': 'NA', 'EDvisit': 'UNKNOWN', 'Hospitaliz': 'UNKNOWN', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'NA', 'Case1': 1611205200000, 'EventDate': 1611187200000, 'ChartDate': 1611205200000, 'ObjectId': 1979}
{'County': 'Madison', 'Age': '76', 'Age_group': '75-84 years', 'Gender': 'Male', 'Jurisdicti': 'FL resident', 'Travel_rel': 'No', 'Origin': 'NA', 'EDvisit': 'NO', 'Hospitaliz': 'YES', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'Yes', 'Case1': 1611205200000, 'EventDate': 1610668800000, 'ChartDate': 1611205200000, 'ObjectId': 1980}
{'County': 'Collier', 'Age': '47', 'Age_group': '45-54 years', 'Gender': 'Female', 'Jurisdicti': 'FL resident', 'Travel_rel': 'No', 'Origin': 'NA', 'EDvisit': 'NO', 'Hospitaliz': 'NO', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'Yes', 'Case1': 1611205200000, 'EventDate': 1611187200000, 'ChartDate': 1611205200000, 'ObjectId': 1981}
{'County': 'Jackson', 'Age': '74', 'Age_group': '65-74 years', 'Gender': 'Male', 'Jurisdicti': 'FL resident', 'Travel_rel': 'No', 'Origin': 'NA', 'EDvisit': 'UNKNOWN', 'Hospitaliz': 'UNKNOWN', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'UNKNOWN', 'Case1': 1611205200000, 'EventDate': 1611187200000, 'ChartDate': 1611205200000, 'ObjectId': 1982}
{'County': 'Lake', 'Age': '52', 'Age_group': '45-54 years', 'Gender': 'Female', 'Jurisdicti': 'FL resident', 'Travel_rel': 'Unknown', 'Origin': 'NA', 'EDvisit': 'UNKNOWN', 'Hospitaliz': 'UNKNOWN', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'NA', 'Case1': 1611205200000, 'EventDate': 1611187200000, 'ChartDate': 1611205200000, 'ObjectId': 1983}
{'County': 'Orange', 'Age': '25', 'Age_group': '25-34 years', 'Gender': 'Male', 'Jurisdicti': 'FL resident', 'Travel_rel': 'Unknown', 'Origin': 'NA', 'EDvisit': 'UNKNOWN', 'Hospitaliz': 'UNKNOWN', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'Yes', 'Case1': 1611205200000, 'EventDate': 1611187200000, 'ChartDate': 1611205200000, 'ObjectId': 1984}
{'County': 'Dade', 'Age': '53', 'Age_group': '45-54 years', 'Gender': 'Male', 'Jurisdicti': 'FL resident', 'Travel_rel': 'Unknown', 'Origin': 'NA', 'EDvisit': 'UNKNOWN', 'Hospitaliz': 'UNKNOWN', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'Yes', 'Case1': 1611205200000, 'EventDate': 1611187200000, 'ChartDate': 1611205200000, 'ObjectId': 1985}
{'County': 'Pinellas', 'Age': '78', 'Age_group': '75-84 years', 'Gender': 'Female', 'Jurisdicti': 'FL resident', 'Travel_rel': 'No', 'Origin': 'NA', 'EDvisit': 'YES', 'Hospitaliz': 'NO', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'NA', 'Case1': 1611205200000, 'EventDate': 1611187200000, 'ChartDate': 1611205200000, 'ObjectId': 1986}
{'County': 'Alachua', 'Age': '20', 'Age_group': '15-24 years', 'Gender': 'Female', 'Jurisdicti': 'FL resident', 'Travel_rel': 'No', 'Origin': 'NA', 'EDvisit': 'NO', 'Hospitaliz': 'NO', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'YES', 'Case1': 1611982800000, 'EventDate': 1611360000000, 'ChartDate': 1611982800000, 'ObjectId': 1987}
{'County': 'Polk', 'Age': '77', 'Age_group': '75-84 years', 'Gender': 'Male', 'Jurisdicti': 'FL resident', 'Travel_rel': 'No', 'Origin': 'NA', 'EDvisit': 'UNKNOWN', 'Hospitaliz': 'UNKNOWN', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'UNKNOWN', 'Case1': 1611982800000, 'EventDate': 1611964800000, 'ChartDate': 1611982800000, 'ObjectId': 1988}
{'County': 'Monroe', 'Age': '29', 'Age_group': '25-34 years', 'Gender': 'Male', 'Jurisdicti': 'FL resident', 'Travel_rel': 'Unknown', 'Origin': 'NA', 'EDvisit': 'UNKNOWN', 'Hospitaliz': 'UNKNOWN', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'Yes', 'Case1': 1611982800000, 'EventDate': 1611964800000, 'ChartDate': 1611982800000, 'ObjectId': 1989}
{'County': 'Broward', 'Age': '50', 'Age_group': '45-54 years', 'Gender': 'Male', 'Jurisdicti': 'FL resident', 'Travel_rel': 'No', 'Origin': 'NA', 'EDvisit': 'NO', 'Hospitaliz': 'NO', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'NO', 'Case1': 1614834000000, 'EventDate': 1614816000000, 'ChartDate': 1614834000000, 'ObjectId': 1990}
{'County': 'Broward', 'Age': '59', 'Age_group': '55-64 years', 'Gender': 'Male', 'Jurisdicti': 'FL resident', 'Travel_rel': 'No', 'Origin': 'NA', 'EDvisit': 'NO', 'Hospitaliz': 'NO', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'Yes', 'Case1': 1614834000000, 'EventDate': 1614816000000, 'ChartDate': 1614834000000, 'ObjectId': 1991}
{'County': 'Broward', 'Age': '67', 'Age_group': '65-74 years', 'Gender': 'Male', 'Jurisdicti': 'FL resident', 'Travel_rel': 'No', 'Origin': 'NA', 'EDvisit': 'NO', 'Hospitaliz': 'NO', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'Yes', 'Case1': 1614834000000, 'EventDate': 1614470400000, 'ChartDate': 1614834000000, 'ObjectId': 1992}
{'County': 'Broward', 'Age': '47', 'Age_group': '45-54 years', 'Gender': 'Male', 'Jurisdicti': 'FL resident', 'Travel_rel': 'No', 'Origin': 'NA', 'EDvisit': 'NO', 'Hospitaliz': 'NO', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'NO', 'Case1': 1614834000000, 'EventDate': 1614384000000, 'ChartDate': 1614834000000, 'ObjectId': 1993}
{'County': 'Hernando', 'Age': '63', 'Age_group': '55-64 years', 'Gender': 'Male', 'Jurisdicti': 'FL resident', 'Travel_rel': 'No', 'Origin': 'NA', 'EDvisit': 'NO', 'Hospitaliz': 'NO', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'Yes', 'Case1': 1614834000000, 'EventDate': 1614855947000, 'ChartDate': 1614834000000, 'ObjectId': 1994}
{'County': 'Hernando', 'Age': '74', 'Age_group': '65-74 years', 'Gender': 'Female', 'Jurisdicti': 'FL resident', 'Travel_rel': 'No', 'Origin': 'NA', 'EDvisit': 'NO', 'Hospitaliz': 'NO', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'Yes', 'Case1': 1614834000000, 'EventDate': 1614038400000, 'ChartDate': 1614834000000, 'ObjectId': 1995}
{'County': 'Hillsborough', 'Age': '51', 'Age_group': '45-54 years', 'Gender': 'Female', 'Jurisdicti': 'FL resident', 'Travel_rel': 'Unknown', 'Origin': 'NA', 'EDvisit': 'UNKNOWN', 'Hospitaliz': 'UNKNOWN', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'NA', 'Case1': 1614834000000, 'EventDate': 1614855961000, 'ChartDate': 1614834000000, 'ObjectId': 1996}
{'County': 'Sarasota', 'Age': '74', 'Age_group': '65-74 years', 'Gender': 'Male', 'Jurisdicti': 'FL resident', 'Travel_rel': 'Unknown', 'Origin': 'NA', 'EDvisit': 'UNKNOWN', 'Hospitaliz': 'UNKNOWN', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'NA', 'Case1': 1614834000000, 'EventDate': 1614855962000, 'ChartDate': 1614834000000, 'ObjectId': 1997}
{'County': 'Manatee', 'Age': '8', 'Age_group': '5-14 years', 'Gender': 'Male', 'Jurisdicti': 'FL resident', 'Travel_rel': 'No', 'Origin': 'NA', 'EDvisit': 'NO', 'Hospitaliz': 'NO', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'Yes', 'Case1': 1614920400000, 'EventDate': 1614889111000, 'ChartDate': 1614920400000, 'ObjectId': 1998}
{'County': 'Leon', 'Age': '58', 'Age_group': '55-64 years', 'Gender': 'Male', 'Jurisdicti': 'FL resident', 'Travel_rel': 'No', 'Origin': 'NA', 'EDvisit': 'NO', 'Hospitaliz': 'NO', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'Yes', 'Case1': 1614834000000, 'EventDate': 1614556800000, 'ChartDate': 1614834000000, 'ObjectId': 1999}
{'County': 'Lee', 'Age': '55', 'Age_group': '55-64 years', 'Gender': 'Female', 'Jurisdicti': 'FL resident', 'Travel_rel': 'Unknown', 'Origin': 'NA', 'EDvisit': 'UNKNOWN', 'Hospitaliz': 'UNKNOWN', 'Died': 'NA', 'Case_': 'Yes', 'Contact': 'NA', 'Case1': 1614834000000, 'EventDate': 1614856373000, 'ChartDate': 1614834000000, 'ObjectId': 2000}

In [139]:
features = r.json()['features']
df = json_normalize(features)
df['attributes.Cases'] = 1
df.head()

,attributes.Age,attributes.Age_group,attributes.Case1,attributes.Case_,attributes.ChartDate,attributes.Contact,attributes.County,attributes.Died,attributes.EDvisit,attributes.EventDate,attributes.Gender,attributes.Hospitaliz,attributes.Jurisdicti,attributes.ObjectId,attributes.Origin,attributes.Travel_rel,attributes.Cases
0,41,35-44 years,1612242000000,Yes,1612242000000,NO,Dade,NA,UNKNOWN,1612224000000,Male,UNKNOWN,FL resident,1,NA,Unknown,1
1,48,45-54 years,1612242000000,Yes,1612242000000,NO,Palm Beach,NA,NO,1612224000000,Male,NO,FL resident,2,NA,No,1
2,21,15-24 years,1612242000000,Yes,1612242000000,Yes,Collier,NA,NO,1611964800000,Male,NO,FL resident,3,NA,No,1
3,54,45-54 years,1612242000000,Yes,1612242000000,YES,Orange,NA,UNKNOWN,1611705600000,Female,UNKNOWN,FL resident,4,NA,Unknown,1
4,51,45-54 years,1612242000000,Yes,1612242000000,NO,Marion,NA,UNKNOWN,1610755200000,Female,UNKNOWN,FL resident,5,NA,Unknown,1

In [140]:
df.shape

(2000, 17)

In [141]:
r.json()['fields']
obid = r.json()['fields']

In [142]:
ef = json_normalize(obid)
print(ef)
ef.shape

         alias defaultValue domain  length        name            sqlType  \
0       County         None   None  4000.0      County    sqlTypeNVarchar
1          Age         None   None   256.0         Age    sqlTypeNVarchar
2    Age_group         None   None  4000.0   Age_group    sqlTypeNVarchar
3       Gender         None   None  4000.0      Gender    sqlTypeNVarchar
4   Jurisdicti         None   None  4000.0  Jurisdicti    sqlTypeNVarchar
5   Travel_rel         None   None  4000.0  Travel_rel    sqlTypeNVarchar
6       Origin         None   None  4000.0      Origin    sqlTypeNVarchar
7      EDvisit         None   None  4000.0     EDvisit    sqlTypeNVarchar
8   Hospitaliz         None   None  4000.0  Hospitaliz    sqlTypeNVarchar
9         Died         None   None  4000.0        Died    sqlTypeNVarchar
10        Case         None   None  4000.0       Case_    sqlTypeNVarchar
11     Contact         None   None  4000.0     Contact    sqlTypeNVarchar
12       Case_         None   None     8.0       Case1  sqlTypeTimestamp2
13   EventDate         None   None     8.0   EventDate  sqlTypeTimestamp2
14   ChartDate         None   None     8.0   ChartDate  sqlTypeTimestamp2
15    ObjectId         None   None     NaN    ObjectId     sqlTypeInteger

                   type
0   esriFieldTypeString
1   esriFieldTypeString
2   esriFieldTypeString
3   esriFieldTypeString
4   esriFieldTypeString
5   esriFieldTypeString
6   esriFieldTypeString
7   esriFieldTypeString
8   esriFieldTypeString
9   esriFieldTypeString
10  esriFieldTypeString
11  esriFieldTypeString
12    esriFieldTypeDate
13    esriFieldTypeDate
14    esriFieldTypeDate
15     esriFieldTypeOID

(16, 7)

In [146]:
#TB Code
start=time()
r=requests.get(url)
x=r.json()

tb=pd.DataFrame()
for i in range(len(x['features'])):
    tb=tb.append(pd.DataFrame(x['features'][i]['attributes'], index=['OBJECTID']))
tb['Cases']=1
end=time()
runtime=(end-start)/60
print(runtime)
tb.head()

0.10286883513132732

,County,Age,Age_group,Gender,Jurisdicti,Travel_rel,Origin,EDvisit,Hospitaliz,Died,Case_,Contact,Case1,EventDate,ChartDate,ObjectId,Cases
OBJECTID,Dade,41,35-44 years,Male,FL resident,Unknown,NA,UNKNOWN,UNKNOWN,NA,Yes,NO,1612242000000,1612224000000,1612242000000,1,1
OBJECTID,Palm Beach,48,45-54 years,Male,FL resident,No,NA,NO,NO,NA,Yes,NO,1612242000000,1612224000000,1612242000000,2,1
OBJECTID,Collier,21,15-24 years,Male,FL resident,No,NA,NO,NO,NA,Yes,Yes,1612242000000,1611964800000,1612242000000,3,1
OBJECTID,Orange,54,45-54 years,Female,FL resident,Unknown,NA,UNKNOWN,UNKNOWN,NA,Yes,YES,1612242000000,1611705600000,1612242000000,4,1
OBJECTID,Marion,51,45-54 years,Female,FL resident,Unknown,NA,UNKNOWN,UNKNOWN,NA,Yes,NO,1612242000000,1610755200000,1612242000000,5,1

In [147]:
tb.shape

(2000, 17)