In [46]:
import pyodbc
import time
import numpy as pd
import pandas as pd

In [47]:
cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=DESKTOP-GRJ2O6R;DATABASE=AdventureWorksDW2019;Trusted_Connection=Yes;')

In [48]:
df = pd.read_sql("SELECT * FROM Report_InternetSales", cnxn)
df.head()

,CurrencyKey,OrderQuantity,SalesAmount,TaxAmt,TotalProductCost,FirstName,MiddleName,LastName,EnglishProductName,ProductKey,City,StateProvinceName,GeographyKey,CustomerKey
0,100,1,699.0982,55.9279,413.1463,Ruben,None,Prasad,"Road-650 Black, 62",336,Beverly Hills,California,300,14501
1,100,1,3578.2700,286.2616,2171.2942,Colin,G,Anand,"Road-150 Red, 44",311,Coronado,California,312,27645
2,100,1,3578.2700,286.2616,2171.2942,Kevin,None,Gonzalez,"Road-150 Red, 44",311,Kirkland,Washington,623,27668
3,100,1,3578.2700,286.2616,2171.2942,Jeremiah,D,Martinez,"Road-150 Red, 62",310,Ballard,Washington,607,27671
4,100,1,3578.2700,286.2616,2171.2942,Alexandria,W,Hughes,"Road-150 Red, 52",313,Lake Oswego,Oregon,542,27625

In [49]:
cursor = cnxn.cursor()
cursor.execute("SELECT TOP 10 * FROM FactInternetSales")
row = cursor.fetchall()
while row:
    print(row[0])
    row = cursor.fetchall()

(310, 20101229, 20110110, 20110105, 21768, 1, 19, 6, 'SO43697', 1, 1, 1, Decimal('3578.2700'), Decimal('3578.2700'), 0.0, 0.0, Decimal('2171.2942'), Decimal('2171.2942'), Decimal('3578.2700'), Decimal('286.2616'), Decimal('89.4568'), None, None, datetime.datetime(2010, 12, 29, 0, 0), datetime.datetime(2011, 1, 10, 0, 0), datetime.datetime(2011, 1, 5, 0, 0))

In [50]:
cursor = cnxn.cursor()
cursor.execute("SELECT TOP 10 * FROM FactInternetSales")
columns = cursor.description
row = [{columns[index][0]:column for index, column in enumerate(value)} for value in cursor.fetchall()]
print(row)

[{'ProductKey': 310, 'OrderDateKey': 20101229, 'DueDateKey': 20110110, 'ShipDateKey': 20110105, 'CustomerKey': 21768, 'PromotionKey': 1, 'CurrencyKey': 19, 'SalesTerritoryKey': 6, 'SalesOrderNumber': 'SO43697', 'SalesOrderLineNumber': 1, 'RevisionNumber': 1, 'OrderQuantity': 1, 'UnitPrice': Decimal('3578.2700'), 'ExtendedAmount': Decimal('3578.2700'), 'UnitPriceDiscountPct': 0.0, 'DiscountAmount': 0.0, 'ProductStandardCost': Decimal('2171.2942'), 'TotalProductCost': Decimal('2171.2942'), 'SalesAmount': Decimal('3578.2700'), 'TaxAmt': Decimal('286.2616'), 'Freight': Decimal('89.4568'), 'CarrierTrackingNumber': None, 'CustomerPONumber': None, 'OrderDate': datetime.datetime(2010, 12, 29, 0, 0), 'DueDate': datetime.datetime(2011, 1, 10, 0, 0), 'ShipDate': datetime.datetime(2011, 1, 5, 0, 0)}, {'ProductKey': 346, 'OrderDateKey': 20101229, 'DueDateKey': 20110110, 'ShipDateKey': 20110105, 'CustomerKey': 28389, 'PromotionKey': 1, 'CurrencyKey': 39, 'SalesTerritoryKey': 7, 'SalesOrderNumber': 'SO43698', 'SalesOrderLineNumber': 1, 'RevisionNumber': 1, 'OrderQuantity': 1, 'UnitPrice': Decimal('3399.9900'), 'ExtendedAmount': Decimal('3399.9900'), 'UnitPriceDiscountPct': 0.0, 'DiscountAmount': 0.0, 'ProductStandardCost': Decimal('1912.1544'), 'TotalProductCost': Decimal('1912.1544'), 'SalesAmount': Decimal('3399.9900'), 'TaxAmt': Decimal('271.9992'), 'Freight': Decimal('84.9998'), 'CarrierTrackingNumber': None, 'CustomerPONumber': None, 'OrderDate': datetime.datetime(2010, 12, 29, 0, 0), 'DueDate': datetime.datetime(2011, 1, 10, 0, 0), 'ShipDate': datetime.datetime(2011, 1, 5, 0, 0)}, {'ProductKey': 346, 'OrderDateKey': 20101229, 'DueDateKey': 20110110, 'ShipDateKey': 20110105, 'CustomerKey': 25863, 'PromotionKey': 1, 'CurrencyKey': 100, 'SalesTerritoryKey': 1, 'SalesOrderNumber': 'SO43699', 'SalesOrderLineNumber': 1, 'RevisionNumber': 1, 'OrderQuantity': 1, 'UnitPrice': Decimal('3399.9900'), 'ExtendedAmount': Decimal('3399.9900'), 'UnitPriceDiscountPct': 0.0, 'DiscountAmount': 0.0, 'ProductStandardCost': Decimal('1912.1544'), 'TotalProductCost': Decimal('1912.1544'), 'SalesAmount': Decimal('3399.9900'), 'TaxAmt': Decimal('271.9992'), 'Freight': Decimal('84.9998'), 'CarrierTrackingNumber': None, 'CustomerPONumber': None, 'OrderDate': datetime.datetime(2010, 12, 29, 0, 0), 'DueDate': datetime.datetime(2011, 1, 10, 0, 0), 'ShipDate': datetime.datetime(2011, 1, 5, 0, 0)}, {'ProductKey': 336, 'OrderDateKey': 20101229, 'DueDateKey': 20110110, 'ShipDateKey': 20110105, 'CustomerKey': 14501, 'PromotionKey': 1, 'CurrencyKey': 100, 'SalesTerritoryKey': 4, 'SalesOrderNumber': 'SO43700', 'SalesOrderLineNumber': 1, 'RevisionNumber': 1, 'OrderQuantity': 1, 'UnitPrice': Decimal('699.0982'), 'ExtendedAmount': Decimal('699.0982'), 'UnitPriceDiscountPct': 0.0, 'DiscountAmount': 0.0, 'ProductStandardCost': Decimal('413.1463'), 'TotalProductCost': Decimal('413.1463'), 'SalesAmount': Decimal('699.0982'), 'TaxAmt': Decimal('55.9279'), 'Freight': Decimal('17.4775'), 'CarrierTrackingNumber': None, 'CustomerPONumber': None, 'OrderDate': datetime.datetime(2010, 12, 29, 0, 0), 'DueDate': datetime.datetime(2011, 1, 10, 0, 0), 'ShipDate': datetime.datetime(2011, 1, 5, 0, 0)}, {'ProductKey': 346, 'OrderDateKey': 20101229, 'DueDateKey': 20110110, 'ShipDateKey': 20110105, 'CustomerKey': 11003, 'PromotionKey': 1, 'CurrencyKey': 6, 'SalesTerritoryKey': 9, 'SalesOrderNumber': 'SO43701', 'SalesOrderLineNumber': 1, 'RevisionNumber': 1, 'OrderQuantity': 1, 'UnitPrice': Decimal('3399.9900'), 'ExtendedAmount': Decimal('3399.9900'), 'UnitPriceDiscountPct': 0.0, 'DiscountAmount': 0.0, 'ProductStandardCost': Decimal('1912.1544'), 'TotalProductCost': Decimal('1912.1544'), 'SalesAmount': Decimal('3399.9900'), 'TaxAmt': Decimal('271.9992'), 'Freight': Decimal('84.9998'), 'CarrierTrackingNumber': None, 'CustomerPONumber': None, 'OrderDate': datetime.datetime(2010, 12, 29, 0, 0), 'DueDate': datetime.datetime(2011, 1, 10, 0, 0), 'ShipDate': datetime.datetime(2011, 1, 5, 0, 0)}, {'ProductKey': 311, 'OrderDateKey': 20101230, 'DueDateKey': 20110111, 'ShipDateKey': 20110106, 'CustomerKey': 27645, 'PromotionKey': 1, 'CurrencyKey': 100, 'SalesTerritoryKey': 4, 'SalesOrderNumber': 'SO43702', 'SalesOrderLineNumber': 1, 'RevisionNumber': 1, 'OrderQuantity': 1, 'UnitPrice': Decimal('3578.2700'), 'ExtendedAmount': Decimal('3578.2700'), 'UnitPriceDiscountPct': 0.0, 'DiscountAmount': 0.0, 'ProductStandardCost': Decimal('2171.2942'), 'TotalProductCost': Decimal('2171.2942'), 'SalesAmount': Decimal('3578.2700'), 'TaxAmt': Decimal('286.2616'), 'Freight': Decimal('89.4568'), 'CarrierTrackingNumber': None, 'CustomerPONumber': None, 'OrderDate': datetime.datetime(2010, 12, 30, 0, 0), 'DueDate': datetime.datetime(2011, 1, 11, 0, 0), 'ShipDate': datetime.datetime(2011, 1, 6, 0, 0)}, {'ProductKey': 310, 'OrderDateKey': 20101230, 'DueDateKey': 20110111, 'ShipDateKey': 20110106, 'CustomerKey': 16624, 'PromotionKey': 1, 'CurrencyKey': 6, 'SalesTerritoryKey': 9, 'SalesOrderNumber': 'SO43703', 'SalesOrderLineNumber': 1, 'RevisionNumber': 1, 'OrderQuantity': 1, 'UnitPrice': Decimal('3578.2700'), 'ExtendedAmount': Decimal('3578.2700'), 'UnitPriceDiscountPct': 0.0, 'DiscountAmount': 0.0, 'ProductStandardCost': Decimal('2171.2942'), 'TotalProductCost': Decimal('2171.2942'), 'SalesAmount': Decimal('3578.2700'), 'TaxAmt': Decimal('286.2616'), 'Freight': Decimal('89.4568'), 'CarrierTrackingNumber': None, 'CustomerPONumber': None, 'OrderDate': datetime.datetime(2010, 12, 30, 0, 0), 'DueDate': datetime.datetime(2011, 1, 11, 0, 0), 'ShipDate': datetime.datetime(2011, 1, 6, 0, 0)}, {'ProductKey': 351, 'OrderDateKey': 20101230, 'DueDateKey': 20110111, 'ShipDateKey': 20110106, 'CustomerKey': 11005, 'PromotionKey': 1, 'CurrencyKey': 6, 'SalesTerritoryKey': 9, 'SalesOrderNumber': 'SO43704', 'SalesOrderLineNumber': 1, 'RevisionNumber': 1, 'OrderQuantity': 1, 'UnitPrice': Decimal('3374.9900'), 'ExtendedAmount': Decimal('3374.9900'), 'UnitPriceDiscountPct': 0.0, 'DiscountAmount': 0.0, 'ProductStandardCost': Decimal('1898.0944'), 'TotalProductCost': Decimal('1898.0944'), 'SalesAmount': Decimal('3374.9900'), 'TaxAmt': Decimal('269.9992'), 'Freight': Decimal('84.3748'), 'CarrierTrackingNumber': None, 'CustomerPONumber': None, 'OrderDate': datetime.datetime(2010, 12, 30, 0, 0), 'DueDate': datetime.datetime(2011, 1, 11, 0, 0), 'ShipDate': datetime.datetime(2011, 1, 6, 0, 0)}, {'ProductKey': 344, 'OrderDateKey': 20101230, 'DueDateKey': 20110111, 'ShipDateKey': 20110106, 'CustomerKey': 11011, 'PromotionKey': 1, 'CurrencyKey': 6, 'SalesTerritoryKey': 9, 'SalesOrderNumber': 'SO43705', 'SalesOrderLineNumber': 1, 'RevisionNumber': 1, 'OrderQuantity': 1, 'UnitPrice': Decimal('3399.9900'), 'ExtendedAmount': Decimal('3399.9900'), 'UnitPriceDiscountPct': 0.0, 'DiscountAmount': 0.0, 'ProductStandardCost': Decimal('1912.1544'), 'TotalProductCost': Decimal('1912.1544'), 'SalesAmount': Decimal('3399.9900'), 'TaxAmt': Decimal('271.9992'), 'Freight': Decimal('84.9998'), 'CarrierTrackingNumber': None, 'CustomerPONumber': None, 'OrderDate': datetime.datetime(2010, 12, 30, 0, 0), 'DueDate': datetime.datetime(2011, 1, 11, 0, 0), 'ShipDate': datetime.datetime(2011, 1, 6, 0, 0)}, {'ProductKey': 312, 'OrderDateKey': 20101231, 'DueDateKey': 20110112, 'ShipDateKey': 20110107, 'CustomerKey': 27621, 'PromotionKey': 1, 'CurrencyKey': 100, 'SalesTerritoryKey': 4, 'SalesOrderNumber': 'SO43706', 'SalesOrderLineNumber': 1, 'RevisionNumber': 1, 'OrderQuantity': 1, 'UnitPrice': Decimal('3578.2700'), 'ExtendedAmount': Decimal('3578.2700'), 'UnitPriceDiscountPct': 0.0, 'DiscountAmount': 0.0, 'ProductStandardCost': Decimal('2171.2942'), 'TotalProductCost': Decimal('2171.2942'), 'SalesAmount': Decimal('3578.2700'), 'TaxAmt': Decimal('286.2616'), 'Freight': Decimal('89.4568'), 'CarrierTrackingNumber': None, 'CustomerPONumber': None, 'OrderDate': datetime.datetime(2010, 12, 31, 0, 0), 'DueDate': datetime.datetime(2011, 1, 12, 0, 0), 'ShipDate': datetime.datetime(2011, 1, 7, 0, 0)}]